*{
    margin: auto;
}
body{
    width: 100%;
    background-color: black;
}
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.256);
    display: flex;

}
.inner-ads{
    width: 30%;
    height: 92%;
    border-radius: 20px;

    display: block;
    overflow: hidden;
    
}
nav li a{
    
    text-transform: capitalize;
}
.proitema{
    font-style: normal;
}

.ads-pic{
    width: 100%;
    height: 90%;
    border-top: 3px solid red;
    overflow: hidden;
    padding-bottom: 5000px;
}

#preloader .preloadpic{
    position: relative;
    top: 35%;
    left: 35%;
    height: 250px;
    width: 400px;
}
.pagebreaker{
    width: auto;
    height: 80px;
}
.logopic{
    width: 100%;
    height: 70px;
}
.navv{
    padding: 15px;
    border-radius: 15px;
    
}
.navv li a{
    color: whitesmoke;
}
.navpic{
    width: 24px;
    padding-right: 4px;
    height: 20px;
}
nav{
    display: flex;
    list-style: none;
    width: 400px;
    padding-left: 20px;

    background-color: #4d4d4d;
}
nav li a{
    font-size: 14px;
    color: rgb(87, 87, 87);
    padding: 10px;
    text-decoration: none;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
header ul{
    display: flex;
    width: 300px;
    position: relative;
    left: 0px;
    
}
.proitema{
    padding: 7px;
    border: 0.2px solid blue;
    color: blue;
    padding-left: 20px;
    padding-right: 20px;
}

.first{
    width: 100%;
    background-color: none;
    height: auto;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    background-color: #4d4d4d;
    right: 0;
}
.first ul{
    display: flex;
}
.listpic{
    width: 30PX;
    height: 30PX;
}

/*right side*/
.right{
    width: 100%;
    position: absolute;
    right: 0;
    height: 100%;
    overflow: auto;
    background-color: black;
}
.right ul li{
    width: 270px;
    background-color: none;
    height: 280px;
    display: block;
    text-align: left;
    
}
.right ul{
    display: flex;
    list-style: none;
    position: relative;
    left: -20px;
}
.vids{
    width: 100%;
    height: 150px;
    padding-top: 10px;
}
.right ul li p{
    padding-left: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-display: bold;

}
.update,
.right ul li a{
    padding: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    width: 100%;
    position: relative;
    left: 10px;
    top: 5px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(0, 119, 255);
}
.right ul li a:hover{
    background-color: rgb(7, 57, 114);
    text-decoration: line-through;
}
spanf{
    color: red;
    font-style: italic;
}


buttonx{
width: 45%;
height: 25px;
text-align: center;
font-size: 15px;
margin-top: 10px;
line-height: 25px;
margin-bottom: 10px;
font-family: 'Freight Sans Bold', helvetica, arial, sans-serif !important;
font-weight: bold !important;
background: linear-gradient(#800080);
background-color: #800080;
box-shadow: inset 0 1px 1px #a4e388;
border-color: #800080;
border: 1px solid;
border-radius: 5px;
color: #fff;
cursor: pointer;
display: inline-block;
position: relative;
user-select: none;
text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

button{
    width: 95%;
    height: 30px;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    line-height: 25px;
    margin-bottom: 10px;
    font-family: 'Freight Sans Bold', helvetica, arial, sans-serif !important;
    font-weight: bold !important;
    background: linear-gradient(#800080);
    background-color: rgb(88, 88, 209);
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #800080;
    border: 1px solid;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: flex;
    position: relative;
    left: px;
    user-select: none;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    }



    .nav-toggler{
        height: 34px;
        width: 44px;
        background-color: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        top: 10px;
        right: 5px;
        border: none;
        display: none;
        user-select: none;
    }
    .nav-toggler:focus{
        outline: none;
        box-shadow: 0 0 15px rgba(red, green, blue, alpha);
    }
    .nav-toggler span{
        height: 2px;
        width: 20px;
        background-color: #fff;
        display: block;
        margin: auto;
        position: relative;
    }
    .nav-toggler span::before,
    .nav-toggler span::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
    .nav-toggler span::before{
        transform: translateY(-6px);
    }
    .nav-toggler span::after{
        transform: translateY(6px);   
    }
    
    








    

    .nav-toggler-list{
        height: 34px;
        width: 44px;
        background-color: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        top: 10px;
        right: 5px;
        border: none;
        display: none;
    }
    .nav-toggler-list:focus{
        outline: none;
        box-shadow: 0 0 15px rgba(red, green, blue, alpha);
    }
    .nav-toggler-list span{
        height: 2px;
        width: 20px;
        background-color: black;
        display: block;
        margin: auto;
        position: relative;
    }
    .nav-toggler-list span::before,
    .nav-toggler-list span::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
    }
    .nav-toggler-list span::before{
        transform: translateY(-6px);
    }
    .nav-toggler-list span::after{
        transform: translateY(6px);   
    }
    
    







.vidpic{
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
}
.vidpica{
    width: 70px;
    height: 20px;
}




footer{
    height: auto;
}
footer ul{
    display: flex;
    width: 500px;
    padding-top: 10px;
    height: 200px;
}
footer ul li a{
    height: 50px;
    color: red;
    background-color: #2d2d2d;
}
footer ul li{
    height: 50px;
}
footer p{
    color: #2d2d2d;
    padding: 5px;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid red;
    padding-bottom: 10px;
}




@media screen and (max-width: 1280px) {

  
   
.right ul li{
    width: 250px;
}
.ads-closer{
    font-size: 40px;
}






}



@media screen and (max-width: 1150px) {

  

.left ul li a{
    font-size: 16px;
}
.left ul li{
    width: 150px;

}
.right ul li{
    width: 225px;
    height: fit-content;
}
.right ul li a{
    padding-left: 15%;
    padding-right: 15%;
}



}




@media screen and (max-width: 1100px) {

 


.right ul li{
    width: 210px;
}
.right ul li a{
    padding-left: 12%;
    padding-right: 12%;
}



}




@media screen and (max-width: 1024px) {
    .right ul li{
        width: 200px;
    }
    .right ul li a{
        padding-left: 9%;
        padding-right: 9%;
        font-size: 15.5px;
    }
   .left ul li{
    width: 120px;
   }
   .left ul li a{
    position: relative;
    left: -30px;
   }
   }


@media screen and (max-width: 1000px) {

 .proitema{
    padding: 8px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
 }
 .right ul li{
    width: 195px;
 }




}








@media screen and (max-width: 980px) {
    .first{
        overflow: hidden;
        width: 100%;
    }
.first ul{
    width: auto;
}
 header ul{
    background-color: black;
    display: flex;
 }
.nav-toggler-list{
    display: block;

    top: 75px;
    left: 0px;
}
.left{
    display: block;
    top: 35px;
    
    height: 90%;
    width: auto;
}
.left ul{
    left: 10px;
    width: 150px;

}
.right{
    top: 35px;
    width: 100%;
}
.closelist{
    width: 100%;
}


buttona{
    display: block;
}
#preloader .preloadpic{

    left: 30%;

}

}








@media screen and (max-width: 912px) {

 
.right ul li{
    width: 203px;
}
.right ul li a{
    font-size: 13px;
    width: 100%;
}


}












@media screen and (max-width: 900px) {
 

.left ul li a p{
    font-size: 13.5px;
}
.right ul li p{
    font-size: 14px;
}
.right ul li{
    
}
nav ul li a,
.proitema{
    font-size: 12px;
}











}



@media screen and (max-width: 820px){

.right ul li{
    width: 190px;
}
.proitema{
    padding-left: 20px;
}
nav li a{
    font-size: 12px;
}
.listpic{
    width: 20px;
    height: 20px;
}
.left ul{
    left: -10px;
}
.left ul li a p{
    font-size: 13px;
}
.ads-closer{
    font-size: 30px;
}

}





@media screen and (max-width: 800px) {
 



.right ul li{
    width: 180px;
    height: 220px;
}
.vids{
    height: 100px;
}
footer p{
    font-size: 14px;
    text-align: center;
}

.inner-ads{
    width: 80%;
}



}









@media screen and (max-width: 768px) {
  



    .right ul li{
        width: 171px;
        height: 220px;
    }
    .right ul li p{
        font-size: 12px;
    }
    .right ul li a{
        font-size: 13px;
    }





}



@media screen and (max-width: 760px) {
  
nav {
    position: relative;
    left: -20px;
    width: 700px;
}
header ul{
    left: -20px;
}







}








@media screen and (max-width: 720px) {
  


.left ul li a{
    width: fit-content;
    text-align: left;
}
.right{
    overflow: auto;
}
.right ul li{
    width: 161px;
    height: 220px;
}
.right ul li a{
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-toggler{
    display: block;
    left: 50px;
}
header{
    display: block;
}
header ul{
    width: 100%;
    position: relative;
    left: -40px;
    top: 5px;
}
.logopic{
    width: 200px;
    position: relative;
    left: -115px;
}
nav{
    background-color: #2d2d2d;
    display: block;
    width: 75%;
    height: 250px;
    position: relative;
    left: 80px;
    top: 11px;
    text-align: left;
    padding-left: 20px;
}
nav li a{
    line-height: 40px;
    color: white;
    width: fit-content;
}
.closenav{
    display: none;
}
.proitema{
    border: 2px solid rgb(0, 105, 251);
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
}


@media screen and (max-width: 712px) {
  


    .inner-ads{
        width: 80%;
    }


}



@media screen and (max-width: 700px) {







}


@media screen and (max-width: 650px) {
 
   
.right ul li{
    height: 200px;
    width: 150px;
}
.right ul li a{
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
}
.left ul{
    left: -20px;
}
.left ul li a p{
    font-size: 12px;
}
.logopic{
    left: -80px;
}


}



@media screen and (max-width: 640px) {
 
   




}







@media screen and (max-width: 600px) {



    .inner-ads{
        width: 65%;
        height: 80%;
        position: relative;
        top: 50px;
    }
    .right ul li{
        height: 200px;
        width: 133px;
    }
    .vids{
        height: 80px;
    }
    .right ul li a{
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        font-style: italic;
    }
    .right ul li p{
        font-size: 12px;
    }
    .left ul{
        left: -20px;
    }
    .left ul li a p{
        font-size: 12px;
    }
    



}



@media screen and (max-width: 540px) {
    .inner-ads{
        width: 70%;
        height: 80%;
        position: relative;
        top: 50px;
    }
.right{
    width: 100%;
}
.closelist{
    width: 100%;
}
.left ul{
    left: -10px;
 }
.right ul{
    display: block;
}
.right ul li{
    width: 80%;
    height: 250px;
}
.vids{
    height: 150px;
}
.right ul li p{
    font-size: 15px;
}
.right ul li a{
    padding-left: 80px;
    padding-right: 80px;
}
.logopic{
    left: -40px;
}
.nav-toggler{
    left: 30px;
}



}






@media screen and (max-width: 500px) {

  
   


.right footer ul li{
    height: 10px;

}
.right footer ul{
    height: 80px;
    display: flex;
    left: -10px;
    top: -30px;
}
.right footer ul li a{
    padding-left: 20px;
    padding-right: 30px;
}





}


@media screen and (max-width: 480px) {
    .pagebreaker{
        width: auto;
        height: 80px;
    }
    .inner-ads{
        width: 90%;
        height: 80%;
        position: relative;
        top: 50px;
    }
   

footer {
    padding-left: 1px;
    padding-right: 1px;
}
.logopic{
    left: -0px;
}
.nav-toggler{
    left: 20px;
}
.right ul li a{
    padding-left: 20px;
    padding-right: 20px;
}
.right footer ul{
    left: -25px;
}








}



@media screen and (max-width: 420px) {

    .pagebreaker{
        width: auto;
        height: 80px;
    }
    .ads-closer{
        font-size: 25px;
    }

.proitema{
    font-size: 11px;
}
.right ul li{
    width: 100%;
    height: 280px;
}
.vids{
    height: 160px;
}
.navv{
    height: 100vh;
    text-align: left;
    width: 70%;

    }
.navv li{
    position: relative;
    left: -12px;
}
.navv li a{
    font-style: normal;
    width: fit-content;
}
.headeraaa{
    font-size: 25px;
}






}





@media screen and (max-width: 414px) {

  
   


    .vids{
        height: 170px;
    }
    .right footer ul li a{
        padding-left: 10px;
        padding-right: 10px;
    }





}





@media screen and (max-width: 412px) {

  
   








}

@media screen and (max-width: 411px) {

  
   








}



@media screen and (max-width: 393px){
  
   

.right footer ul li a{
    background-color: #2d2d2d;
}

}


@media screen and (max-width: 390px){
  
      



}


@media screen and (max-width: 384px){
  
   

   
}



@media screen and (max-width: 375px){


    .inner-ads{
        width: 90%;
        height: 70%;
        position: relative;
        top: 70px;
    }
}






@media screen and (max-width: 360px) {

   
    .inner-ads{
        width: 90%;
        height: 70%;
        position: relative;
        top: 70px;
    }
     
.nav-toggler{
    left: 15px;
}
.right ul li a{
    padding-left: 30%;
    padding-right: 30%;
}
.proitema{
    text-transform:capitalize;
}
   





}


@media screen and (max-width: 353px) {

   
   
  




}





@media screen and (max-width: 320px){

   .right{
    width: 100%;
   }
   .closelist{
    width: 100%;
   }

    .nav-toggler{
        left: 10px;
    }
    .right ul li a{
        padding-left: 25%;
        padding-right: 25%;
    }




}




@media screen and (max-width: 300px) {
 
 
   .logopic{
    width: 150px;
   }
   .right footer ul{
    height: 150px;
    top: 0px;
    display: block;
    width: 100%;
   }
   .right footer ul li{
    display: block;
    height: 30px;
    width: 100%;
   }
   .right footer ul li a{
    padding-left: 25%;
    padding-right: 25%;
}











}







@media screen and (max-width: 280px){
  
    .right{
        width: 100%;
       }
       .closelist{
        width: 100%;
       }

nav{
    left: 25px;
}
.proitema{
    font-size: 10px;
}

.inner-ads{
    width: 90%;
    height: 60%;
    position: relative;
    top: 70px;
}

}



@media screen and (max-width: 240px) {

  
   
    .right{
        width: 100%;
       }
       .closelist{
        width: 100%;
       }
    nav{
        height: 220px;
    }
    nav li a{
        font-size: 10px;
        line-height: 35px;
    }

    .right ul li a{
        padding-left: 15%;
        padding-right: 15%;
    }
    .nav-toggler span{
        width: 5px;
    }
    .left ul{

    }
    .left ul li a{
        width: 40%;
    }
    .vids{
        height: 120px;
    }
    .right ul li{
        height: 230px;
    }


}
