.adsList{
    overflow: hidden;
}
.adsList:last-child{
overflow: hidden;
}
.ads{
    text-align: center;
    display: none;
    position: fixed;
    filter:brightness(-55px);
    width: 98%;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    background-color: /*rgb(202, 202, 202)*/ #2d2d2d;
    box-sizing: border-box;
}



.ads-closer{
    color: red;
    background-color: none;
    position: relative;
    left: 44%;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    user-select: none;
    display: none;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
